Source: ubiquity-slideshow-pop
Section: x11
Priority: optional
Maintainer: Ian Santopietro <ian@system76.com>
Build-Depends: cdbs, debhelper (>= 5)
Build-Depends-Indep: po4a, python-utidylib
Standards-Version: 3.9.1
Homepage: https://github.com/system76/ubiquity-slideshow-pop

Package: ubiquity-slideshow-pop
Architecture: all
Provides: ubiquity-slideshow
Conflicts: ubiquity-slideshow
Replaces: ubiquity-slideshow
Depends: ${misc:Depends}
Description: Ubiquity slideshow for Pop
 A slideshow intended for the Ubiquity installer, designed as a quick
 introduction to Pop!_OS.


